body {
  font-family: "Montserrat", sans-serif;
}

.bg {
  background-color: #000d6b;
}

.bgtxt {
  color: white;
}

.bc-padding-box {
  background-color: white;
  width: 300px;
  border: 25px solid #000d6b;
  padding: 25px;
  margin: 25px;
  border-radius: 8px;
}
